<!-- Copyright 2020 Richard Blasingame. All rights reserved. -->

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title</title>
   <base href='@Url.Content("~/")'>
   <script language="javascript" type="text/javascript" src="~/Scripts/localdb.js"></script>

   <!-- link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" / -->

   @Styles.Render("~/Content/css")

   <!-- @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/bootstrap") -->
</head>
<body>
   <div class='navDiv'>
      <ul class='nav'>
         <li class='nav'><a href='~/'>Home</a></li>
         <li class='nav'><a href='~/feed.rss'>XSLT</a></li>
         <li class='nav'><a href='~/StateMap'>SVG</a></li>
         <li class='nav'><a href='~/SQLSearch'>Search</a></li>
         <li class='nav'><a href='~/RSSFeed'>Settings</a></li>
      </ul>
   </div>

   @RenderBody()
   @RenderSection("scripts", required: false)
</body>
</html>
