@model RSSWeb.Models.RssFeedModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        @Html.ValidationSummary(true, "")

        <div>
            @Html.LabelFor(model => model.Title)
            <div>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Url)
            <div>
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Regional)
            <div>
                @Html.EditorFor(model => model.Regional)
                @Html.ValidationMessageFor(model => model.Regional, "")
            </div>
        </div>

       <br/>

        <div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </div>
    </div>
}

<br/>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
