@model Portfolio.Models.RSSFeedModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div>
   @Html.ValidationSummary(true, "")

   <div>
      @Html.LabelFor(model => model.title)
      <div>
         @Html.EditorFor(model => model.title)
         @Html.ValidationMessageFor(model => model.title, "")
      </div>
   </div>

   <div>
      @Html.LabelFor(model => model.url)
      <div>
         @Html.EditorFor(model => model.url)
         @Html.ValidationMessageFor(model => model.url, "")
      </div>
   </div>

   <div>
      @Html.LabelFor(model => model.regional)
      <div>
         @Html.EditorFor(model => model.regional)
         @Html.ValidationMessageFor(model => model.regional, "")
      </div>
   </div>

   <div>
      @Html.LabelFor(model => model.active)
      <div>
         @Html.EditorFor(model => model.active)
         @Html.ValidationMessageFor(model => model.active, "")
      </div>
   </div>

   <br/>

   <div>
      <div>
         <input type="submit" value="Save" />
      </div>
   </div>
</div>
}

<br/>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
