@model IEnumerable<RSSWeb.Models.RssFeedModel>

@{
   ViewBag.Title = "Feed Management";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
   @Html.ActionLink("Add New Feed", "Create")
</p>

<table>
   <tr>
      <th>
         @Html.DisplayNameFor(model => model.Title)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Url)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Regional)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Active)
      </th>
      <th></th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Title)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.Url)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.Regional)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.Active)
         </td>
         <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FeedId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FeedId })
         </td>
      </tr>
   }
</table>
