@model IEnumerable<Portfolio.Models.RSSFeedModel>

@{
   ViewBag.Title = "Feed Management";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
   @Html.ActionLink("Add New Feed", "Create")
</p>

<table>
   <tr>
      <th>
         @Html.DisplayNameFor(model => model.title)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.url)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.regional)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.active)
      </th>
      <th></th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.title)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.url)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.regional)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.active)
         </td>
         <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.feed_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.feed_id })
         </td>
      </tr>
   }
</table>
